<head>
 <title>GM-Soft Blog</title>
 <style>
     #logo
    {
        padding-top: 150px;
        padding-bottom: 60px;
        width: auto;
    }
    #divBar
    {
        text-align: center;
        background-image: url(https://www.jmp.com/fr_fr/software/predictive-analytics-software/_jcr_content/par/styledcontainer_7990/image.img.jpg/1473369767542.jpg);
        margin: -30px;
    }
 </style>

</head>

    <div id="divBar">
        <h1 id="logo" style="color: black">Welcome to GM-Soft Blog</h1>
    </div>
    <tbody>
       <div class="row ">
           <div class="col s8 offset-2">
              <div class="card-panel teal lighten-2">
                  <h5  style="padding: 20px"> </h5>
                </div>
                 <!-- <div class="col-md-12 my-auto side-herder">
                     <img src="/assets/img/logo-icon.png" >
                      <h1>Imane Slague</h1>
                 </div> -->
               <form #imageForm=ngForm (ngSubmit)="OnSubmit(caption,image)">
                   <div class="row">
                     <div class="input-field col s12">
                         <input type="text" #caption ngModel name="Caption" id="Caption" required>
                         <label for="Caption"><Caption></Caption></label>
                     </div>
                   </div>
                     <img [src]="imageUrl" style="width:600px ; height:400px">
                     <input type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)">
                     <button type="submit" class=" btn-dark btn-lg" [disabled]="image.value=='' || imageForm.valid">submit</button>
                      
                    </form>
           </div>
       </div>

    </tbody>
